# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 -  List popular languages for Data Scientists.
 -  List some commonly used libraries for Data Scientists.
 -  Learn markdown syntax in jupyter notebook.

Some of the popular languages that Data Scientists use are:
1. python
1. R
1. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
1. Pandas
1. Matplotlib

| Data Science Tools |
| --- |
| Rstudio |
| MySql |
| Github |

### Below are a few examples of evaluating arithmetic expressions in python

In [5]:
# This is a simple arithmetic expression to multiply then add integers .
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Yinnon Dotan